header{
    background-color: black;
    color: white;
    padding: 1px;
    margin: 5px;
   
}

p{
    background-color: yellow;
    border: 10px;
}

p{
    width: 300px;
    border: 10px;
    border-style: groove;
    padding: 2em
}

.margin-auto{
    margin: auto;
}


